/* Inter google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Raleway google font  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

main,
section {
    margin-top: 60px;
}

.seat {
    background-color: rgb(243, 243, 243);
    padding: 5px 15px;
    border-radius: 10px;
    color: rgb(111, 111, 111);
    cursor: pointer;
}

.seat1 {
    background-color: rgb(243, 243, 243);
    padding: 5px 15px;
    border-radius: 10px;
    color: rgb(111, 111, 111);
    cursor: pointer;
}

.seat-class {
    color: rgb(119, 119, 119);
}

.brand-color {
    color: #1DD100;
}
